@font-face {
  font-family: cairo-Bold;
  src: url('/cairo-2-cufonfonts/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: cairo-Regular;
  src: url('/cairo-2-cufonfonts/Cairo-Regular.ttf')
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
section {
  block-size: 100%;
}


main,
html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start end;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#Logo {
  z-index: 100;
  position: fixed;
  top: 2vh;
  left: 3vw;
  cursor: pointer;
  width: 2vw;
  height: 2vh;
}

/* #helpBtn {
  z-index: 99;
  position: relative;
  width: 2.5vw;
  left: 95vw;
  top: 5vh;
  cursor: pointer;
} */

#popup-sidebar {
  display: none;
  /* width: 93vw; */
  /* height: 40vw; */
  position: relative;
  /* z-index: -1; */
  /* background-color: rgba(0, 0, 0, 0.35); */
  bottom: 12.5vh;
  left: 21vw;
  color: white;
  /* backdrop-filter: blur(2px); */
}

#clsB {
  position: absolute;
  right: 2vw;
  z-index: 9;
  top: 2vh;
}

/* #SPre1 {
  position: absolute;
  object-fit: contain;
  left: 0vh;
  width: 24vw;
  height: 47vh;
  top: 12vh;
} */
#info-Con {
  background: #000000a1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  position: absolute;
  /* right: 13vw; */
  /* top: 15vh; */
}

.tablinks {
  /* height: 2vh; */
  border: 1px solid #000;
  margin-left: 1px;

}

.tab {
  display: flex;
  width: max-content;
  right: 0;
  top: 93%;
  height: 7.5vh;
  position: fixed;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: end;
  overflow: hidden;
  background: #0606066b;
  z-index: 10;
}



.tab img {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 17px 21px;
  transition: 0.3s;
}
.tab :hover{
  background: #A8A8A8;
}

.tablinks.active {
  background-color: #ddd;
}

#overviewBg {
  content: url('../../images/BuildingRenderImage.png');
  width: 100vw;
  position: absolute;
  top: 25vh;
  height: 75vh;
}

.previewL {
  font-size: 16px;
  font-family: cairo-Regular;
  line-height: 100%;
  /* margin: 0; */
  letter-spacing: 2px;
  margin-left: 28vw;
  margin-right: -21vw;
  /* margin-bottom: -87vh; */
  margin-top: -3.6vh;
}

#accessibility {
  font-size: 39px;
  font-family: cairo-Bold;
  margin-top: 1%;
  margin-left: 38px;
}

#overlay {
  content: url('../../images/Frame72.png');
  position: absolute;
  object-fit: contain;
  width: 54vw;
  left: 24vw;
  top: 37vh;
}


#view01 {
  position: absolute;
  z-index: 9;
  top: 0;
}

#b100 {
  position: absolute;
}

#street {
  top: 22vh;
  width: 90%;
  margin-left: 5vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

#locationpre_text {
  color: white;
  position: absolute;
  left: 3vw;
  top: 8vh;
}

pre {
  font-size: 3px;
}

.streets {
  height: 55vh;
  width: 100vw;
  /* border: 2px solid #000; */
}

.viewin3dBtn {
  content: url('../../images/viewin3d(1).png');
  position: relative;
  width: 6vw;
  object-fit: contain;
  bottom: -3vh;
  left: 37vh;
}

/* #street1 {
  background: #0e0d0d29;
  backdrop-filter: blur(20px);
  height: 38vh;
  position: absolute;
  left: -14vw;
  border: 2px solid #000;
}
#street2 {
  background: #0e0d0d29;
  backdrop-filter: blur(20px);
  height: 38vh;
  left: 15vw;
  position: absolute;
  border: 2px solid #000;

}
#street3 {
  background: #0e0d0d29;
  backdrop-filter: blur(20px);
  position: absolute;
  height: 38vh;
  left: 42vw;
  border: 2px solid #000;

} */


.buildings {
  display: none;
  position: absolute;
  font-size: 22px;
  z-index: 9;
  bottom: 2vh;
  left: 50vw;
  color: white;
  font-weight: 400;
  font-family: cairo-Regular;
}

#views {
  display: none;
  position: absolute;
  z-index: 9;
  bottom: 1vh;
  left: 42vw;
  width: 17vw;
}

#viewin3dS {
  content: url('../../images/viewin3d(1).png');
  position: absolute;
  left: 55vw;
  top: 76vh;

}

#buildingpre1 {
  width: 100vw;
  height: 75vh;
  top: 25vh;
  position: absolute;
  /* object-fit: contain; */
}

.sPre {
  /* position: absolute; */
  /* display: flex; */
  /* object-fit: contain; */
  width: 28vw;
  height: 46vh;
  /* top: 12vh; */
  margin-top: 4%;
}

.streetTitle {
  display: none;
  width: 96%;
  object-fit: contain;
}

.text {
 padding-left: 1vw;
  width: 27vw;
  position: absolute;
  height: 8vh;
  top: 47.5vh;
  font-size: 36px;
  color: #ffffff;
  font-family: cairo-Regular;
  background: #000000a1;
  backdrop-filter: blur(8px);
}

/* #closeB {
  position: absolute;
  left: 82vw;
  top: 11vh;
} */
#locationpre {
  position: absolute;
  /* object-fit: contain; */
  content: url('../../images/Location1.png');
  /* left: 0vw; */
  top: 25vh;
  width: 100%;
  height: 75vh;
}

#bottombar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: none;
  width: 7vw;
  height: 96vh;
  bottom: 1%;
  right: 0vw;
  flex-direction: column;
}

.bottombtn {
  user-select: none;
}

#locationbtn {
  left: 3.4vw;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
  /* z-index: 99; */
}
#locationbtn:hover{
  content: url(../../images/INFO_B_HOVER.png);
  width: 12vw;
  margin-left: -10vw;
  /* left: auto; */

}

.switch {
  margin-top: 2%;
  position: relative;
  display: inline-block;
  width: 5.2vw;
  height: 5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(83, 81, 81, 0.574);
  -webkit-transition: .4s;
  transition: .4s;
  height: 8vh;
  width: 2.4em;

}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.25vw;
  bottom: 0.5vh;
  background-image: url(../../images/DEFAULT_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%);

}

input:checked+.slider:before {
  -webkit-transform: translateX(-1.7vw);
  -ms-transform: translateX(-1.7vw);
  transform: translateY(-1.7vw);
  background-image: url(../../images/AMENITY_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#instructionOverlay {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#instructionOverlay img {
  width: 50%;
  background: #80808029;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

body.ios {
  overflow: hidden;
}

#scenebtn {
  left: 45%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#vehiclesbtn {
  left: 50%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#arbtn {
  right: 2%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;

}
#arbtn:hover{
  content: url(../../images/AR_BUTT_HOVER.png);
  width: 12vw;
  margin-left: -10vw;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#popup iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  position: absolute;
}

#popupdarkbg {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

#cbtn {

  display: none;
  right: 5%;
  width: 3vw;
  position: absolute;
  top: 5%;
  /* border-radius: 100%; */
}
#cbtn:hover{
  content: url(../../images/BACK_BTN_HOV.png);
  width: 12vw;
  /* margin-left: -1vw; */
}

#hotspotClose {
  /* display: none; */
  right: 5%;
  width: 3%;
  position: absolute;
  top: 5%;
  border-radius: 50%;
}

.close {
  position: fixed;
  z-index: 12;
  right: 5vw;
  top: 5%;
  width: 3vw;

}
.close:hover{
  content: url(../../images/BACK_BTN_HOV.png) ;
  width: 10vw;
}



.prebtn {
  position: fixed;
  z-index: 12;
  right: 97vw;
  top: 45%;
  cursor: pointer;
}

.nextbtn {
  position: fixed;
  z-index: 12;
  right: 1vw;
  top: 45%;
  cursor: pointer;
}

#prbtn {
  position: fixed;
  z-index: 12;
  left: 0vw;
  top: 45vh;
  cursor: pointer;
  display: none;
}

#nxtbtn {
  position: fixed;
  z-index: 12;
  right: 0vw;
  top: 45vh;
  cursor: pointer;
  display: none;
}

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

#sidebar {
  object-fit: contain;
  border: none;
  cursor: pointer;
}

hr.solid {
  border-top: 1px solid #bbb;
}

#streetview {
  display: none;
  margin-top: -2%;
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

#dropdown {
  position: fixed;
  display: inline-block;
  width: 13vw;
  left: 1vw;
  bottom: 1vh;
  z-index: 12;
  object-fit: contain;
}

/* .pop-dropdown-content {
  display: none;
  margin-top: 16%;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 10.5%;
  left: 1.69vh;
  top: 17.5vh;
  z-index: 1;
  color: white;
} */

.pop-dropdown-content div h4 {
  font-size: 14px;
  line-height: 18px;
  font-family: cairo-Bold;
  letter-spacing: 1px;
}

.pop-dropdown-content div p {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1px;
  font-family: cairo-Regular;
}

.Title {
  font-size: 20px;
  font-family: cairo-Bold;
  /* margin-right: 20px; */
  line-height: 100%;
  margin-top: 23px;

}

.content {
  font-size: 18px;
  font-family: cairo-Regular;
  line-height: 100%;
  /* margin: 0; */


}

#LoaderMain {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LoaderGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background: linear-gradient(0deg, #000000cf 20%, #ffffff17 80%);
}

#loadingTxt1 {
  position: absolute;
  top: 8vh;
  left: 3.4vw;
  font-size: 156%;
  width: 59vw;
  height: 2vh;
  font-family: cairo-Regular;
  color: white;
  line-height: 136%;
}

#LoaderMainHeader {
  position: absolute;
  top: 10.5vh;
  left: 3vw;
  font-size: 412%;
  width: 59vw;
  letter-spacing: 2%;
  font-family: cairo-Regular;
  color: white;
  line-height: 112%;
  font-weight: bolder;
  height: 2vh;
}

#loaderBottomBar {
  position: absolute;
  height: 9vw;
  width: 92vw;
  top: 80vh;
  left: 3vw;
  background-color: #000000a1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#loaderChakanLogo {
  object-fit: contain;
  width: 13vw;
  height: 9vw;
}

#loaderBottomBar p {
  font-size: 20px;
  left: 17vw;
  width: 55vw;
  position: absolute;
  top: 0;
  color: white;
  font-family: cairo-Regular;
}

.loader {
  width: 70vw;
  height: 1.7vh;
  display: inline-block;
  position: relative;
  background: rgba(95, 95, 95, 0.26);
  overflow: hidden;
  left: 4vw;
  bottom: 3vh;
}

#loader {
  width: 0;
  height: 15vh;
  left: 0;
  background: linear-gradient(90deg, #004C9C 0%, #00867D 31%, #00867D 62%, #00953F 100%);

}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes RevOpacityAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#bnmtitle {
  font-size: 33px;
  line-height: 100%;
  margin: -27px;
  /* margin-top: -10vh; */
}

#bname {
  margin-left: 53vw;
  margin-bottom: -6vh;
  line-height: 17px;
  letter-spacing: 1px;
}

#overview-con {
  position: absolute;
  left: 7vw;
  top: -53vh;
  line-height: 13px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: end;
  width: 88%;
  height: 80%;
}

#buildpre {
  position: absolute;
  color: white;
  left: 8vw;
  /* line-height: 0%; */
  top: 11vh;
  gap: 4.5vw;
}

#btitle {
  font-size: 39px;
  margin-top: 1px;
}

#Bname {
  font-size: 39px;
  margin-top: -45px;
  font-family: cairo-Bold;
}

/* #btitle
{
 
} */
#instructionMain {
  display: none;
  z-index: 99;
  position: absolute;
  height: 85vh;
  width: 100vw;
  top: 0vh;
  margin-top: 0;
  left: 0%;
  align-items: center;
  justify-content: center;
}

#instructionImg {
  height: 45%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#instructionChakanLogo {
  position: absolute;
  width: 17vw;
  object-fit: contain;
  top: 12vh;
  left: 5vw;
}

#fixedChakanLogo {
  display: block;
  z-index: 100;
  position: fixed;
  /* width: 12vw; */
  /* height: 8vw; */
  left: 1vw;
  bottom: 1.3vh;
  opacity: 0;
}

#blankPG {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  left: 0%;
  background: none;
}

#phonelndscap {
  display: none;
}

#swipetocon {

  display: none;
  object-fit: contain;

}

#scrolltocon {
  position: absolute;
  display: none;
  left: 13.5vw;
  width: 59vw;
  height: 2.95vw;
  bottom: 1.5vh;
  object-fit: contain;
}

#scrolltocon.ios {
  content: url('../../images/Tap_To_Continue.png');
  position: absolute;
  display: none;
  left: 13.5vw;
  width: 59vw;
  height: 2.95vw;
  bottom: 1.5vh;
  object-fit: contain;
}

#instructionMobileImg {
  display: none;
}

.scroll-control {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* #bname{
  position: relative;
  left: 54vw;
  top: 12vh;
  font-size: 22px;
  line-height: 100%;
}
#bnmtitle{
  font-size: 45px;
  line-height: 100%;
} */

#infodivRoot {
  top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

#infodivRoot div {
  width: 50%;
}

@media all and (max-width: 1023px) {
  .scroll-control {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 640px) and (orientation:portrait) {
  #phonelndscap {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
  }
}

/* @media only screen and (max-height:600px) and (orientation:landscape) {
  #overviewBg{
    top: 9vh;
  }
} */


/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width:1023px) and (orientation:landscape) {

  #phonelndscap {
    display: none;
  }

  #Logo {
    top: 2vh;
    left: 2vw;
    /* position: absolute; */
  }

  #logobtn {
    width: 15vw;
    /* margin-top: -5vh; */
  }

  #LoaderMain {
    height: 100vh;
  }

  #LoaderGradient {
    height: 100vh;
  }

  #loadingTxt1 {
    width: 170vh;
    left: 2vw;
    top: 7vh;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
  }

  #buildpre {
    position: absolute;
    color: white;
    flex-direction: column;
    left: 11vw;
    /* line-height: 0%; */
    top: 15vh;
    gap: 0;
  }

  #buildpre.ios {
    top: 14vh;
  }

  .Title {
    font-size: 12px;
    font-family: cairo-Bold;
    margin: 0;
    /* line-height: 100%; */
  }

  .content {
    font-size: 10px;
    font-family: cairo-Regular;
    margin-top: 5%;
    /* line-height: 100%; */

  }

  #btitle {
    font-size: 18px;
  }

  #Bname {
    font-size: 18px;
    margin-top: 5px;
  }

  #LoaderMainHeader {
    top: 12vh;
    width: 364px;
    height: 86px;
    line-height: 38px;
    font-size: 34px;
    left: 2vw;
    position: absolute;
  }

  #loaderBottomBar {
    top: 65vh;
    left: 2vw;
  }

  #loaderBottomBar p {
    font-size: 13px;
    left: 20.5vw;
    margin-top: 1%;
  }

  #viewin3dS {
    content: url('../../images/FULLSCREEN_BUTT.png');
    position: absolute;
    left: 58vw;
    top: 68vh;
  }

  #viewin3dS.ios {
    top: 60vh;
  }

  #view01 {
    top: 0;
  }

  .text {
    display: none;
  }

  #overlay {
    content: url('../../images/Tutorial_overlay.png');
    position: absolute;
    object-fit: contain;
    width: 50vw;
    left: 24vw;
    top: 10vh;
  }

  #scrolltocon {
    content: url('../../images/swipeToContinue.png');
    left: 20.5vw;
    bottom: 2.5vh;
    width: 58vw;
  }

  #scrolltocon.ios {
    content: url('../../images/Tap_To_Continue.png');
    left: 20.5vw;
    bottom: 2.5vh;
    width: 58vw;
  }

  .loader {
    height: 4vh;
    left: 2vw;
    bottom: 4vh;
    width: 65vw;
  }

  #fixedChakanLogo {
    left: 1vw;
    top: 85%;
  }

  #loaderChakanLogo {
    width: 18vw;
    left: 2vw;
  }

  .tab {
    display: flex;
    width: max-content;
    right: 0vw;
    top: 88%;
    height: 13.5vh;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: end;
    align-items: center;
  }

  #infodivRoot {
    top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }

  #infodivRoot div {
    width: 50%;
  }

  .tab.ios {
    display: flex;
    width: max-content;
    /* left: 20vw; */
    right: 0;
    top: 72%;
    height: 13.5vh;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: end;
    align-items: center;
  }

  #overviewBg.ios {
    height: 66vh;
  }

  #overview-con.ios {
    top: 8vh;
  }

  /* 
  .tablinks {

    margin-left: 1px;
  } */

  #clsB {
    right: 2vw;
    top: 0;
  }

  #prbtn {
    left: 0vw;
    top: 42vh;
  }

  #nxtbtn {
    top: 42vh;
  }

  #buildingpre1 {
    width: 100vw;
    height: 77vh;
    top: 8vh;
    position: absolute;
    /* object-fit: contain; */
  }

  #buildingpre1.ios {
    height: 66vh;
  }

  /* #info-Con {
    top: 0vh;
    height: 120%;
  } */
  #info-Con {
    background: #80808029;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    top: 0vh;
    height: 120%;
    position: absolute;
    /* right: 13vw; */
    /* top: 15vh; */
  }

  #overview-con {
    position: absolute;
    left: 2vw;
    top: 13vh;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    width: 40%;
    height: 80%;
  }

  #views {

    top: 90vh;
    left: 42vw;
    width: 17vw;
  }

  #views.ios {
    top: 80vh;
  }

  /* 
  #s1 {
    width: 24vw;
  }

  #s2 {
    width: 24vw;
  }

  #s3 {
    width: 24vw;
  } */

  #street {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    top: 17vh;
  }

  #street.ios {
    top: 14vh;
  }

  .streetTitle {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  .streets {
    height: 60vh;
    width: 24vw;
    left: 0;
  }



  #dropdown {
    /* width: 16vw; */
    left: 1vw;
    top: 85%;

  }

  .buildings {
    display: none;
    position: absolute;
    font-size: 10px;
    font-family: cairo-Regular;
    bottom: -13vh;
    z-index: 9;
  }

  .buildings.ios {
    top: 80vh;
  }

  #prbtn {
    left: 0vw;
  }

  .tablinks {

    margin-left: 1px;
  }

  #locationpre {
    /* position: absolute; */
    /* object-fit: cover; */
    content: url('../../images/preLocation.png');
    left: 0vw;
    top: 8vh;
    width: 100vw;
    height: 77vh;
  }

  #locationpre.ios {
    height: 66vh;
  }

  .viewin3dBtn {
    position: relative;
    width: 15vw;
    object-fit: contain;
    bottom: 14vh;
    left: 8vh;
    content: url('../../images/FULLSCREEN_BUTT.png');

  }


  .sPre {
    /* position: absolute; */
    /* display: flex; */
    /* object-fit: contain; */
    width: 100%;
    height: 83%;
    /* top: 12vh; */
    margin-top: -3%;
  }

  .sPre.ios {
    /* position: absolute; */
    /* display: flex; */
    /* object-fit: contain; */
    width: 100%;
    height: 82%;
    /* top: 12vh; */
    margin-top: -3%;
  }

  #locationpre_text {
    /* color: white; */
    /* position: absolute; */
    flex-direction: column;
    left: 2vw;
    top: 6vh;
  }

  #locationpre_text.ios {
    /* color: white; */
    /* position: absolute; */
    left: 2vw;
    top: 10vh;
  }


  /* #SPre3{
  position: absolute;
  object-fit: cover;
  width: 24vw;
  height: 47vh;
  top: 12vh;
}  */
  .previewL {
    font-size: 12px;
    font-family: cairo-Regular;
    line-height: 15px;
    margin: 0;
    letter-spacing: 0;
  }

  #accessibility {
    font-size: 18px;
    font-family: cairo-Bold;
    margin-top: 1%;
    margin: 0;
  }

  #closeB {
    top: 3vh;
    left: 81vw;
  }


  /* #dropdown {
  width: 18vw;
  left: 1vw;
  bottom: 3vh;
 
} */
  #prbtn {
    left: 0vw;
  }

  #bottombar {
    bottom: 1%;
    position: fixed;
    right: 3vw;
    height: 95%;
  }

  #instructionMain {
    height: 65vh;
    width: 100vw;
  }

  #instructionImg {
    content: url('../../images/tutorialOverlayMobile.png');
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  /* #instructionOverlay img {
    content: url('../../images/tutorialOverlayMobile.png');
    width: 30%;
  } */

  .pop-dropdown-content div h4 {
    font-size: 11px;
    margin-top: 2%;
    line-height: 12px;
    letter-spacing: 0px;
  }

  #cbtn {
    width: 5vw;
  }

  #hotspotClose {
    /* display: none; */
    width: 10vw;
  }

  .pop-dropdown-content div p {
    font-size: 10px;
    margin-top: -2%;
    line-height: 11px;
    letter-spacing: 0px;
  }


  #overviewBg {
    content: url('../../images/buildingpre1.png');
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 77vh;
    /* object-fit: contain; */
  }


  #locationbtn {
    width: 10vw;
    height: 4vw;
    margin-left: -37%;
  }

  #arbtn {
    width: 10vw;
    height: 4vw;
    margin-left: -37%;

  }

  .slider:before {
    height: 4.1vw;
    width: 10vw;
    left: -2.5vw;
    bottom: 1.8vh;
  }

  .slider {
    width: 5vw;
    height: 17vh;
    top: -6vh;
  }

  #helpBtn {
    width: 4vw;
    left: 91vw;
  }

  .prebtn {
    top: 67vh;
    left: 0vw;
  }

  .nextbtn {
    top: 67vh;
  }

  #bnmtitle {

    font-size: 19px;
    margin: 0;
    line-height: 25px;
  }

  #bname {
    font-size: 13px;
    margin: 0;
    line-height: 16px;
    letter-spacing: 0;
  }

}

/* Tablet Potrait */
@media only screen and (min-width: 768px) and (orientation:portrait) {

  /* #LoaderMainHeader {
    font-size: 313%;

  }

  #loadingTxt1 {
    top: 6vh;
  }

  #loaderBottomBar {
    top: 89vh;
  }

  #loaderBottomBar p {
    top: -1vh;
    left: 21vw;
    font-size: 17px;
  }
  #LoaderMain {
    height: 100vh;
  }
  #LoaderGradient {
    height: 100vh;
  }

  #scrolltocon {
    bottom: 0.5vh;
    left: 17vw;
  }

  .slider:before {
    width: 4vw;
    top: 1%;
    left: 0.8vw;
  }

  .slider {
    width: 10vw;
    height: 5vw;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    transform: translateX(4vw);
  }

  #locationbtn {
    width: 5vw;
    height: 5vw;
  }

  #arbtn {
    width: 5vw;
    height: 5vw;
  }

  .loader {
    bottom: 3.5vh;
    left: 21vw;
  }

  #loaderChakanLogo {
    width: 25vw;
  }

  #fixedChakanLogo {
    width: 25vw;
    height: 15vw;
    top: 9vh;
  }

  #dropdown {
    width: 25vw;
    top: 9vh;
  }

  #helpBtn {
    width: 4vw;
    top: 5vh;
    left: 94vw;
  }

  #cbtn {
    width: 5vw;
  } */
  #phonelndscap {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    content: url('../../images/Tablet-Portrait.png');

  }
}