@font-face {
  font-family: cairo-Bold;
  src: url('/font/Cairo-Bold.ttf');
}

@font-face {
  font-family: cairo-Regular;
  src: url('/font/Cairo-Regular.ttf')
}
@font-face {
  font-family: cairo-Medium;
  src: url('/font/Cairo-Medium.ttf')
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --sz: 2vmin;
  /* size */
  --on: #269fe5;
  /* color on */
  --of: #0000002a;
  /* color off */
  --tr: all 0.25s ease 0s;
}


html,
body,
section {
  block-size: 100%;
}


main,
html {
  scroll-snap-type: y mandatory;
  user-select: none;
}

section {
  scroll-snap-align: start end;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#Logo {
  z-index: 100;
  position: fixed;
  top: 3.5vh;
  left: 3vw;
  cursor: pointer;
  width: 2vw;
  height: 2vh;
}

/* #helpBtn {
  z-index: 99;
  position: relative;
  width: 2.5vw;
  left: 95vw;
  top: 5vh;
  cursor: pointer;
} */

#popup-sidebar {
  display: none;
  /* width: 93vw; */
  /* height: 40vw; */
  position: relative;
  /* z-index: -1; */
  /* background-color: rgba(0, 0, 0, 0.35); */
  bottom: 12.5vh;
  left: 21vw;
  color: white;
  /* backdrop-filter: blur(2px); */
}

#clsB {
  position: absolute;
  right: 0vw;
  z-index: 9;
  width: 4vw;
  top: 0vh;
}
#clsB:hover{
  content: url('../../images/CLOSE_BUTT_H.png');
  right: 0vw;
  width: 13vw;
  top: 0.2vh;
}

/* #SPre1 {
  position: absolute;
  object-fit: contain;
  left: 0vh;
  width: 24vw;
  height: 47vh;
  top: 12vh;
} */
#info-Con {

  background: #000000a1;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 98%;
  height: 97%;
  position: absolute;
  right: 1vw;
  top: 2vh;
  border: 2px solid grey;

}

.tablinks {
  /* height: 2vh; */
  /* position: absolute; */
  margin-top: -1vh;
font-size: 20px;
font-family: 'cairo-Regular';
}

.tab {
  display: flex;
  width: max-content;
  right: 0;
bottom: 0.5vw;
  height: 6%;
  position: fixed;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: end;
  overflow: hidden;
  background: #0606066b;
  z-index: 10;
  gap: 2px;
}



/* .tab img {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 21px;
  transition: 0.3s;
  height: 46%;
} */

.tab :hover {
  background: #A8A8A8;
}
.tablinks{
  color: white;
}
.tablinks.active {
  background-color: #ddd;
  color: black;
  font-family: 'cairo-Bold';
}

#overviewBg {
  content: url('../../images/BuildingRenderImage.png');
  width: 98vw;
  position: absolute;
  top: 28.1vh;
  height: 68.9vh;
}

.previewL {
  font-size: 13px;
  font-family: cairo-Medium;
  line-height: 21px;
  /* margin: 0; */
  letter-spacing: 2px;
  margin-left: 26vw;
  margin-right: -20vw;
  /* margin-bottom: -128vh; */
  margin-top: 5%;
  text-align: left;
  width: 19vw;
}

#accessibility {
  font-size: 3.5rem;
  font-family: cairo-Bold;
  margin-top: 3%;
  margin-left: 38px;
  line-height: 13vh;
}

.streetname {
  color: white;
  position: absolute;
  font-size: 3.5rem;
  line-height: 13px;
  font-family: 'cairo-Bold';
  bottom: 62vh;
  left: 1vw;
}

#instructionname {
  color: white;
  position: absolute;
  font-size: 55px;
  font-family: 'cairo-Bold';
  top: 15vh;
  line-height: 13px;
  left: 6vw;
  display: none;
}

#overlaycon {
  position: absolute;
  top: 5vh;
  width: 27vw;
}

#overlay {
  content: url('../../images/Frame72.png');
  position: absolute;
  object-fit: contain;
  width: 54vw;
  left: 24vw;
  top: 30vh;
}

#overlaytitle {
  position: absolute;
  top: 8vh;
  color: white;
  font-family: cairo-Bold;
  font-size: 3rem;
  left: 5vw;
  width: 60vw;
}

#view01 {
  position: absolute;
  z-index: 9;
  top: 0;
}

#b100 {
  position: absolute;
}

#street {
  top: 19vh;
  width: 90%;
  margin-left: 5vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
}

#locationpre_text {
  color: white;
  position: absolute;
  left: 1.9vw;
  top: 5vh;
  object-fit: contain;
  gap: 1vh;
}

pre {
  font-size: 3px;
}

.streets {
  height: 55vh;
  width: 100vw;
  /* border: 2px solid #000; */
}

.viewin3dBtn {
  content: url('../../images/FULLSCREEN_BUTT_NN.png');
  position: relative;
  width: 12vw;
  top: 3vh;
  left: 12vw;
  object-fit: contain;

}

.viewin3dBtn:hover {
  content: url('../../images/FULLSCREEN_BUTT_HOVER_NN.png');
  top: 3.9vh;
  left: 11.5vw;
}

#container {
  height: 100vh;
  width: 100vw;
}




.buildings {
  display: none;
  position: absolute;
  font-size: 22px;
  z-index: 9;
  bottom: 2vh;
  left: 50vw;
  color: white;
  font-weight: 400;
  font-family: cairo-Regular;
}

#views {
  display: none;
  position: absolute;
  z-index: 9;
  bottom: 1vh;
  left: 42vw;
  width: 17vw;
}

#viewin3dS {
  content: url('../../images/viewin3d(1).png');
  position: absolute;
  left: 55vw;
  top: 76vh;
  width: 5vw;

}

#buildingpre1 {
  width: 100%;
  height: 69vh;
  top: 28.1vh;
  position: absolute;
  object-fit: cover;
}

.sPre {
  /* position: absolute; */
  /* display: flex; */
  /* object-fit: contain; */
  width: 24vw;
  height: 46vh;
  /* top: 12vh; */
  margin-top: 4%;
}

.streetTitle {
  display: none;
  width: 96%;
  object-fit: contain;
}

.text {
  padding-left: 1vw;
  width: 23vw;
  position: absolute;
  height: 8vh;
  top: 47.5vh;
  font-size: 34px;
  color: #ffffff;
  font-family: cairo-Regular;
  background: #000000a1;
  backdrop-filter: blur(8px);
}

/* #closeB {
  position: absolute;
  left: 82vw;
  top: 11vh;
} */
#locationpre {
  position: absolute;
  object-fit: cover;
  content: url('../../images/Location1.png');
  /* left: 0vw; */
  top: 28.1vh;
  width: 100%;
  height: 68.9vh;
}

#bottombar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: none;
  width: 7vw;
  height: 92vh;
  bottom: 5vh;
  right: 0vw;
  flex-direction: column;
}

.bottombtn {
  user-select: none;
}


/* .switch {
  margin-top: 2%;
  position: relative;
  display: inline-block;
  width: 5.2vw;
  height: 5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(46, 45, 45, 0.574);
  -webkit-transition: .4s;
  transition: .4s;
  height: 7.9vh;
  width: 2.2vw;
}



#amenitymode {
  position: absolute;
  top: 47%;
  right: 8%;
  width: 10vw;
}

#defaultmode {
  position: absolute;
  top: 51%;
  right: 8%;
  width: 10vw;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 3.2vh;
  left: 0.25vw;
  bottom: 0.1vh;
  background-image: url(../../images/DEFAULT_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%);

}

input:checked+.slider:before {
  -webkit-transform: translateX(-1.9vw);
  -ms-transform: translateX(-1.9vw);
  transform: translateY(-1.9vw);
  background-image: url(../../images/AMENITY_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

.toggle {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input {
  display: none;
}

label[for=btn] {
  position: absolute;
  width: calc(var(--sz) * 2);
  height: calc(var(--sz) * 4);
  background: var(--of);
  border-radius: var(--sz);
  /* background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%); */
 /* box-shadow: 
    0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0006, 
    0 -4px calc(var(--sz) / 10) calc(var(--sz) / 500) #000d, 
    0 0px calc(var(--sz) / 10) calc(var(--sz) / 50) #fff8, 
    0 -4px calc(var(--sz) / 5) calc(var(--sz) / 50) #000c; */
}

/* label[for=btn]+#btn:checked {
  background-color: #000000a1;
    backdrop-filter: blur(1px);
    
} */
#btn:checked+label {
  background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%);
}
.track {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--sz);
  overflow: hidden;
  /* background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%); */

}
#amenitymode {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 10vw;
}

#defaultmode {
  position: absolute;
  top: 45%;
  right: 8%;
  width: 10vw;
}


.track:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  left: -100%;
  transition: var(--tr);
 background: #000000a1;
backdrop-filter: blur(5px);
  opacity: 0.5;
  /* background: linear-gradient(90deg, var(--on) 50% , var(--of) 50%); */
  /* animation: move-color 3s ease 0s 1; */
}


#btn:checked+label .track:before {
  left: 0%;
  background: none;
}

.thumb {
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 5));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 5));
  top: calc(calc(var(--sz) / 10) + calc(var(--sz) / 200));
  left: calc(calc(var(--sz) / 10) + calc(var(--sz) / 30));
  /* background: 
    radial-gradient(circle at 50% 45%, #fff0 67%, #85d7fbcc calc(67% + 5px)), 
    radial-gradient(circle at 50% 25%, #fff0 61%, #fff8 calc(67% + 5px)), 
    radial-gradient(circle at 50% 25%, #fff0 calc(var(--sz) / 1), var(--on) 100%), 
    radial-gradient(circle at 50% 50%, #fff calc(var(--sz) / 5), #fff0 calc(var(--sz) / 2.5), #c1e0f7 calc(var(--sz) / 1.5)),
    radial-gradient(circle at 45% 20%, #ffffff, #c1e0f7 calc(var(--sz) / 1)); */
  border-radius: var(--sz);
  /* box-shadow: 0 0 calc(var(--sz) / 15) 0 #777 inset, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #fff2, 0 0 calc(var(--sz) / 10) 0 #fff2; */
  cursor: pointer;
  display: flex;
  background-image: url(../../images/DEFAULT_BUTT.png);
  background-size: contain;
  align-items: center;
  justify-content: center;
  /* z-index: 1; */
  overflow: hidden;
  animation: move-thumb 3s ease 0s 1;
}

#btn:checked+label .thumb {
  top: calc(calc(100% - calc(calc(var(--sz) * 1) - calc(var(--sz) / 3))) - calc(calc(var(--sz) / 10) + calc(var(--sz) / 1.1)));
  /* box-shadow:
    0 0 0 calc(var(--sz) / 50) #0002, 
    0 0 calc(var(--sz) / 10) 0 #0008, 
    0 0 calc(var(--sz) / 5) 0 var(--on) inset; */
  background-image: url(../../images/AMENITY_BUTT.png);
  background-size: contain;
}

.thumb:before,
.thumb:after {
  content: "";
  display: block;
  width: 150%;
  height: 55%;
  /* background: radial-gradient(circle at 50% 80%,#434343, #333 calc(var(--sz) / 1.55), #fff0 calc(calc(var(--sz) / 1.55) + 2px)), #232529; */
  position: absolute;
  z-index: -1;
  border-radius: 100%;
  top: -5%;
  transition: var(--tr);
  transform: scaleX(0.9);
  
  /* animation: move-eyelid-top 3s ease 0s 1; */
  /* filter: drop-shadow(0px 2px 2px #000); */
}

.thumb:after {
  top: 50%;
  /* background: radial-gradient(circle at 50% -130%, #fff0 calc(var(--sz) / 0.65), #212121 calc(var(--sz) / 0.64), #444 calc(var(--sz) / 0.45)); */
  border-radius: 0;
  /* animation-name: move-eyelid-bot; */
  /* filter: drop-shadow(0px -2px 2px #000c); */
  /* background-image: url(../../images/AMENITY_BUTT.png); */
  /* background-size: contain; */
}

#btn:checked+label .thumb:before {
  top: -55%;
}

#btn:checked+label .thumb:after {
  top: 100%;
}

/* .eye {
  position: absolute;
  width: calc(var(--sz) / 3);
  height: calc(var(--sz) / 3.1);
  background: radial-gradient(circle at 36% 35%, #8d8d8d 1px, #000 calc(var(--sz) / 8), var(--on) );
  z-index: -2;
  border-radius: 100%;
  top: calc(var(--sz) / 1.4);
  left: calc(var(--sz) / 3.5);
  filter: blur(0.5px);
  animation: move-eye 3s ease 0s 1;
}

#btn:checked+label .thumb .eye {
  top: calc(var(--sz) / 2.25);
  left: calc(var(--sz) / 0.825);
}

span.eye:before {
  content: "";
  position: absolute;
  width: calc(var(--sz) / 2.5);
  height: calc(var(--sz) / 2.5);
  border: calc(var(--sz) / 2.5) solid #fff0;
  border-top: calc(var(--sz) / 2.5) solid #fffc;
  border-right: calc(var(--sz) / 2.5) solid #fffc;
  left: calc(var(--sz) * -1);
  top: calc(var(--sz) * -0.29);
  border-radius: 100%;
  transform: rotate(-87deg);
  filter: blur(7px);
} */

/* initial animation */
/* @keyframes move-thumb {

  0%,
  20%,
  80%,
  100% {
    left: calc(calc(var(--sz) / 10) + calc(var(--sz) / 100));
    box-shadow: 0 0 calc(var(--sz) / 15) 0 #777 inset, 0 0 calc(var(--sz) / 10) calc(var(--sz) / 50) #fff2, 0 0 calc(var(--sz) / 10) 0 #fff2;
  }

  30%,
  70% {
    left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc(var(--sz) / 10) + calc(var(--sz) / 7)));
    box-shadow: 0 0 0 calc(var(--sz) / 50) #0002, 0 0 calc(var(--sz) / 10) 0 #0008, 0 0 calc(var(--sz) / 5) 0 var(--on) inset;
  }
} */

/* @keyframes move-color {

  0%,
  20%,
  80%,
  100% {
    left: -100%;
  }

  30%,
  70% {
    left: 0%;
  }
} */
/* 
@keyframes move-eye {

  0%,
  20%,
  80%,
  100% {
    top: calc(var(--sz) / 1.4);
    left: calc(var(--sz) / 3.5);
  }

  30%,
  70% {
    top: calc(var(--sz) / 2.25);
    left: calc(var(--sz) / 0.825);
  }
}

@keyframes move-eyelid-top {

  0%,
  20%,
  80%,
  100% {
    top: -5%;
  }

  30%,
  70% {
    top: -55%;
  }
}

@keyframes move-eyelid-bot {

  0%,
  20%,
  80%,
  100% {
    top: 50%;
  }

  30%,
  70% {
    top: 100%;
  }
} */

#instructionOverlay {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#instructionOverlay img {
  width: 50%;
  background: #80808029;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

body.ios {
  overflow: hidden;
}

#scenebtn {
  left: 45%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#vehiclesbtn {
  left: 50%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#locationbtn {
  left: 3.4vw;
  width: 14vw;
  height: 3vw;
  padding: 2%;
  cursor: pointer;
  /* z-index: 99; */
  margin-left: -9.8vw;
}

#locationbtn:hover {
  content: url(../../images/INACTIVE-INFOHOVER@3x.png);
  margin-left: -10.8vw;

}

#arbtn {
  left: 3.4vw;
  width: 14vw;
  height: 3vw;
  padding: 2%;
  cursor: pointer;
  /* z-index: 99; */
  margin-left: -9.8vw;

}

#arbtn:hover {
  content: url(../../images/AR_BUTT_NEW_HOVER.png);
  margin-left: -10.8vw;

}

#popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#popup iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  position: absolute;
}

#popupdarkbg {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

#cbtn {

  display: none;
  right: 5%;
  width: 3vw;
  position: absolute;
  top: 5%;
  /* border-radius: 100%; */
}

#cbtn:hover {
  content: url(../../images/BACK_BTN_HOV.png);
  width: 12vw;
  /* margin-left: -1vw; */
}

#hotspotClose {
  /* display: none; */
  right: 5%;
  width: 3%;
  position: absolute;
  top: 5%;
  border-radius: 50%;
}

.close {
  position: fixed;
  z-index: 12;
  right: 5vw;
  top: 5%;
  width: 3vw;

}

.close:hover {
  content: url(../../images/BACK_BTN_HOV.png);
  width: 10vw;
}



.prebtn {
  position: fixed;
  z-index: 12;
  right: 97vw;
  top: 45%;
  cursor: pointer;
}

.nextbtn {
  position: fixed;
  z-index: 12;
  right: 1vw;
  top: 45%;
  cursor: pointer;
}

#prbtn {
  position: fixed;
  z-index: 12;
  left: 1vw;
  top: 50vh;
  cursor: pointer;
  display: none;
}

#nxtbtn {
  position: fixed;
  z-index: 12;
  right: 1vw;
  top: 50vh;
  cursor: pointer;
  display: none;
}

/* .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

#sidebar {
  object-fit: contain;
  /* height: 8vh; */
  width: 14vw;
  border: none;
  /* cursor: pointer; */
}

hr.solid {
  border-top: 1px solid #bbb;
}

.vl {
  border-left: 1px solid white;
  height: 5vh;
  margin-top: 2vh;
  display: block;
  margin-left: 4vw;
}

.vli {
  border-left: 1px solid white;
  height: 5vh;
  margin-top: 3vh;
  display: block;

}

.vl2 {
  border-left: 1px solid white;
  height: 9vh;
  margin-top: 8.5vh;
  margin-left: -3vw;
  display: block;
  /* margin: -25px; */
}

#streetview {
  display: none;
  margin-top: -2%;
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

#dropdown {
  position: fixed;
  display: inline-block;
  width: 13vw;
  left: 3vw;
  bottom: 3.5vh;
  z-index: 12;
  object-fit: contain;
}

/* .pop-dropdown-content {
  display: none;
  margin-top: 16%;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 10.5%;
  left: 1.69vh;
  top: 17.5vh;
  z-index: 1;
  color: white;
} */

.pop-dropdown-content div h4 {
  font-size: 13px;
  line-height: 13px;
  font-family: cairo-Bold;
  letter-spacing: 1px;
  text-align: center;
}

.pop-dropdown-content div p {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1px;
  font-family: cairo-Regular;
  text-align: center;

}

.Title {
  font-size: 13px;
  font-family: 'cairo-Bold';
  /* margin-right: 20px; */
  line-height: 13px;
  margin-top: 23px;
  letter-spacing: 2%;
  letter-spacing: 1px;

}

.content {
  font-size: 13px;
  font-family: 'cairo-Regular';
  line-height: 13px;
  /* letter-spacing: 1px; */

}

#LoaderMain {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LoaderGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background: linear-gradient(0deg, #000000cf 20%, #ffffff17 80%);
}

#loadingTxt1 {
  position: absolute;
  top: 6vh;
  left: 3.4vw;
  font-size: 156%;
  width: 59vw;
  height: 2vh;
  font-family: cairo-Regular;
  color: white;
  line-height: 136%;
}

#LoaderMainHeader {
  position: absolute;
  top: 8.5vh;
  left: 3vw;
  font-size: 412%;
  width: 59vw;
  letter-spacing: 2%;
  font-family: cairo-Regular;
  color: white;
  line-height: 112%;
  font-weight: bolder;
  height: 2vh;
}

#loaderBottomBar {
  position: absolute;
  height: 8vw;
  width: 92vw;
  top: 82vh;
  left: 3vw;
  background-color: #000000a1;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#loaderChakanLogo {
  object-fit: contain;
  width: 13vw;
  height: 8vw;
}

#loaderBottomBar p {
  font-size: 20px;
  left: 17vw;
  width: 55vw;
  position: absolute;
  top: 0;
  color: white;
  font-family: cairo-Regular;
}

.loader {
  width: 70vw;
  height: 1.7vh;
  display: inline-block;
  position: relative;
  background: rgba(95, 95, 95, 0.26);
  overflow: hidden;
  left: 4vw;
  bottom: 5vh;
}

#loader {
  width: 0;
  height: 15vh;
  left: 0;
  background: linear-gradient(90deg, #004C9C 0%, #00867D 31%, #00867D 62%, #00953F 100%);

}

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes RevOpacityAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.titleContent {
  position: absolute;
  width: 95%;
  top: 57vh;
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.titles {
     /* position: absolute; */
     display: flex;
     flex-direction: column;
     /* gap: 1px; */
     /* height: 159%; */
     /* width: 27vw; */
     /* justify-content: flex-start; */
}

#bnmtitle {
  text-align: start;
  position: relative;
  top: 2vh;
  font-size: 3.5rem;
  letter-spacing: 2px;
  /* line-height: 4vh; */
  font-family: 'cairo-Bold';
}

#bnmdetials {
  font-size: 1.5rem;
  position: relative;
  bottom: 3vh;
  /* bottom: -41%; */
  font-family: 'cairo-Bold';
  letter-spacing: 1px;
}

/* .titleContent {
  top: 50vh;
} */
#bname {
  font-size: 13px;
  /* margin-left: 53vw; */
  /* margin-bottom: 2vh; */
  /* line-height: 17px; */
  letter-spacing: 1px;
  text-align: start;
  font-family: 'cairo-Regular';
}



.bold-text {
  font-weight: bold;
}

#overview-con {
  position: absolute;
  left: 7vw;
  top: -50vh;
  line-height: 13px;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: end;
  width: 88%;
  height: 85%;
}

#buildpre {
  position: absolute;
  color: white;
  left: 7vw;
  /* line-height: 0%; */
  top: 15vh;
  gap: 4.5vw;
}

#btitle {
  font-size: 3.5rem;
  margin-top: 1px;
  line-height: 13px;
  font-family: cairo-Regular;

}

#Bname {
  font-size: 3.5rem;
  margin-top: -38px;
  line-height: 30px;
  /* font-family: cairo-Bold; */
}

/* #btitle
{
 
} */
#instructionMain {
  display: none;
  z-index: 99;
  position: absolute;
  height: 85vh;
  width: 100vw;
  top: 0vh;
  margin-top: 0;
  left: 0%;
  align-items: center;
  justify-content: center;
}

#instructionImg {
  height: 45%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

#instructionChakanLogo {
  position: absolute;
  width: 17vw;
  object-fit: contain;
  top: 12vh;
  left: 5vw;
}

#fixedChakanLogo {
  display: block;
  z-index: 100;
  position: fixed;
  /* width: 12vw; */
  /* height: 8vw; */
  left: 1vw;
  bottom: 1.3vh;
  opacity: 0;
}

#blankPG {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  left: 0%;
  background: none;
}

#phonelndscap {
  display: none;
}

#swipetocon {

  display: none;
  object-fit: contain;

}

#scrolltocon {
  position: absolute;
  display: none;
  left: 20vw;
  width: 64vw;
  height: 2.95vw;
  bottom: 1.5vh;
  object-fit: contain;
}

#scrolltocon.ios {
  content: url('../../images/Tap_To_Continue.png');
  position: absolute;
  display: none;
  left: 13.5vw;
  width: 59vw;
  height: 2.95vw;
  bottom: 1.5vh;
  object-fit: contain;
}

#instructionMobileImg {
  display: none;
}

.scroll-control {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

/* #bname{
  position: relative;
  left: 54vw;
  top: 12vh;
  font-size: 22px;
  line-height: 100%;
}
#bnmtitle{
  font-size: 45px;
  line-height: 100%;
} */

#infodivRoot {
  top: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  width: 89vw;
  height: 21vh;
}



@media all and (max-width: 1023px) {
  .scroll-control {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 640px) and (orientation:portrait) {
  #phonelndscap {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
  }
}

/* @media only screen and (max-height:600px) and (orientation:landscape) {
  #overviewBg{
    top: 9vh;
  }
} */


/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width:1023px) and (orientation:landscape) {

  :root {
    --sz: 5vmin;
    /* size */
    --on: #269fe5;
    /* color on */
    --of: #0000002a;
    /* color off */
    --tr: all 0.25s ease 0s;
  }
  
  #phonelndscap {
    display: none;
  }

  #Logo {
    top: 2vh;
    left: 2vw;

  }

  #logobtn {
    width: 16vw;
  }

  #LoaderMain {
    height: 100vh;
  }

  #LoaderGradient {
    height: 100vh;
  }

  #loadingTxt1 {
    width: 170vh;
    left: 2vw;
    top: 7vh;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
  }

  #buildpre {
    position: absolute;
    color: white;
    flex-direction: column;
    left: 11vw;
    /* line-height: 0%; */
    top: 11vh;
    gap: 0;
  }

  #buildpre.ios {
    top: 14vh;
  }

  .Title {
    font-size: 13px;
    font-family: cairo-Bold;
    margin: 0;
    /* line-height: 100%; */
  }

  .content {
    font-size: 13px;
    font-family: cairo-Regular;
    margin-top: 4%;
    /* line-height: 100%; */

  }

  #btitle {
    font-size: 18px;
    line-height: 13px;
  }

  #Bname {
    font-size: 18px;
    margin-top: 4px;
    line-height: 21px;

  }

  #LoaderMainHeader {
    top: 12vh;
    width: 364px;
    height: 86px;
    line-height: 38px;
    font-size: 34px;
    left: 2vw;
    position: absolute;
  }

  #loaderBottomBar {
    top: 69%;
    left: 1vw;
    height: 9vw;
  }

  #loaderBottomBar p {
    font-size: 13px;
    left: 20.5vw;
    margin-top: 1%;
  }

  #viewin3dS {
    content: url('../../images/Viewin3d3x.png');
    position: absolute;
    left: 58vw;
    top: 68vh;
    width: 20vw;
  }

  #viewin3dS.ios {
    top: 60vh;
    width: 20vw;
  }

  #view01 {
    top: 0;
  }

  .text {
    display: none;
  }

  #overlay {
    content: url('../../images/Tutorial_overlay.png');
    position: absolute;
    object-fit: contain;
    width: 50vw;
    left: 24vw;
    top: 7vh;
  }

  #overlaytitle {
    display: none;
  }

  #scrolltocon {
    content: url('../../images/swipeToContinue.png');
    left: 24vw;
    bottom: 2.5vh;
    width: 58vw;
  }

  #scrolltocon.ios {
    content: url('../../images/Tap_To_Continue.png');
    left: 24vw;
    bottom: 2.5vh;
    width: 58vw;
  }

  .loader {
    height: 4vh;
    left: 2vw;
    bottom: 4vh;
    width: 65vw;
  }

  #fixedChakanLogo {
    left: 1vw;
    top: 85%;
  }

  #loaderChakanLogo {
    width: 18vw;
    left: 2vw;
    height: 9vw;
  }

  .tab {
    display: flex;
    width: max-content;
    right: 0vw;
    top: 90%;
    height: 12vh;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: end;
    align-items: center;
  }

  .tab img {

    padding: 10px 21px;

  }

  #infodivRoot {
    top: 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: start;
    width: 40vw;
    height: 44vh;
    margin-left: -3vw;
}
  #infodivRoot div {
    width: 50%;
    text-align: left;
  }

  .tab.ios {
    display: flex;
    width: max-content;
    /* left: 20vw; */
    right: 0;
    top: 74%;
    height: 9vh;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: end;
    align-items: center;
  }

  #overviewBg.ios {
    height: 66vh;
  }

 
  /* #sidebar{
    width: 15vw;
  } */
  /* 
  .tablinks {

    margin-left: 1px;
  } */

  #clsB {
    right: 2vw;
    top: 0px;
    width: 7vw;
  }
  #clsB:hover{
    content: initial; /* Removes the hover content */
    /* width: auto;  */
  }

  #prbtn {
    left: 0vw;
    top: 42vh;
  }

  #nxtbtn {
    top: 42vh;
  }

  #buildingpre1 {
    width: 100vw;
    height: 77vh;
    top: 8vh;
    position: absolute;
    /* object-fit: contain; */
  }

  #buildingpre1.ios {
    height: 66vh;
  }

  /* #info-Con {
    top: 0vh;
    height: 120%;
  } */
  #info-Con {
    background: #80808029;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    top: 0vh;
    height: 120%;
    position: absolute;
    right: 0vw;
    /* top: 15vh; */
  }

  #overview-con {
    position: absolute;
    left: 2vw;
    top: 8vh;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    width: 42%;
    height: 76%;
}
#overview-con.ios {
  top: 5vh;
}


  #views {

    top: 90vh;
    left: 42vw;
    width: 17vw;
  }

  #views.ios {
    top: 80vh;
  }

  .vl {
    display: none;
  }

  .vli {
    display: none;
  }

  .vl2 {
    display: none;
  }

  /* 
  #s1 {
    width: 24vw;
  }

  #s2 {
    width: 24vw;
  }

  #s3 {
    width: 24vw;
  } */

  #street {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    top: 17vh;
    margin-left: 1vw;
  }

  #street.ios {
    top: 14vh;
  }

  .streetTitle {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  .streets {
    height: 60vh;
    width: 24vw;
    left: 0;
  }



  #dropdown {
    /* width: 16vw; */
    left: 1vw;
    top: 85%;

  }

  .buildings {
    display: none;
    position: absolute;
    font-size: 10px;
    font-family: cairo-Regular;
    bottom: -13vh;
    z-index: 9;
  }

  .buildings.ios {
    top: 80vh;
  }

  #prbtn {
    left: 0vw;
  }

  .tablinks {

    margin-left: 1px;
    font-size: 15px;
  }

  #locationpre {
    /* position: absolute; */
    /* object-fit: cover; */
    content: url('../../images/preLocation.png');
    left: 0vw;
    top: 8vh;
    width: 100vw;
    height: 77vh;
  }

  #locationpre.ios {
    height: 66vh;
  }

  .viewin3dBtn {
    content: url('../../images/Viewin3d3x.png');
    position: relative;
    width: 20vw;
    object-fit: contain;
    top: -20vh;
    left: 7vh;
  }

  .viewin3dBtn:hover {
    content: url('../../images/Viewin3d3x.png');
    position: relative;
    width: 20vw;
    object-fit: contain;
    top: -20vh;
    left: 7vh;
  }
  .viewin3dBtn.ios {
    position: relative;

    width: 20vw;
    top: -15vh;
    left: 3vw;
  }
 

  .sPre {
    /* position: absolute; */
    /* display: flex; */
    /* object-fit: contain; */
    width: 100%;
    height: 83%;
    /* top: 12vh; */
    margin-top: -3%;
  }

  .sPre.ios {
    /* position: absolute; */
    /* display: flex; */
    /* object-fit: contain; */
    width: 100%;
    height: 82%;
    /* top: 12vh; */
    margin-top: -3%;
  }

  #locationpre_text {
    /* color: white; */
    /* position: absolute; */
    flex-direction: column;
    left: 2vw;
    top: 6vh;
  }

  #locationpre_text.ios {
    /* color: white; */
    /* position: absolute; */
    left: 2vw;
    top: 8vh;
  }


  /* #SPre3{
  position: absolute;
  object-fit: cover;
  width: 24vw;
  height: 47vh;
  top: 12vh;
}  */
  .previewL {
    font-size: 12px;
    font-family: cairo-Regular;
    line-height: 15px;
    margin: 0;
    margin-top: 5%;
    letter-spacing: 0;
    width: 30vw;
  }

  #accessibility {
    font-size: 18px;
    font-family: cairo-Bold;
    margin-top: 1%;
    margin: 0;
  }

  .streetname {
    display: none;
  }

  #instructionname {
    display: none;
  }

  #closeB {
    top: 3vh;
    left: 81vw;
  }



  /* #dropdown {
  width: 18vw;
  left: 1vw;
  bottom: 3vh;
 
} */
  #prbtn {
    left: 0vw;
  }

  #bottombar {
    bottom: 1%;
    position: fixed;
    right: 3vw;
    height: 95%;
  }

  #instructionMain {
    height: 65vh;
    width: 100vw;
  }

  #instructionImg {
    content: url('../../images/tutorialOverlayMobile.png');
    height: 80%;
    margin-top: 16vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  /* #instructionOverlay img {
    content: url('../../images/tutorialOverlayMobile.png');
    width: 30%;
  } */

  .pop-dropdown-content div h4 {
    font-size: 13px;
    margin-top: -2%;
    line-height: 13px;
    letter-spacing: 0px
}
  #cbtn {
    width: 5vw;
  }
  #cbtn:hover {
    content: initial; /* Removes the hover content */
    width: 5vw; /* Resets width to default */
  }
  .close{
    width: 5vw;
  }
  .close:hover{
  content: initial;
  width: 5vw;
  }

  #hotspotClose {
    /* display: none; */
    width: 10vw;
  }
  .pop-dropdown-content div p {
    font-size: 13px;
    margin-top: -7%;
    line-height: 13px;
    letter-spacing: 0px
}


  #overviewBg {
    content: url('../../images/buildingpre1.png');
    position: absolute;
    top: 8vh;
    width: 100vw;
    height: 77vh;
    object-fit: cover;
  }

  #container {
    height: 95%;
    width: 80%;
  }


  #locationbtn {
    width: 20vw;
    height: 6vw;
    margin-left: -15.3vw;
  }
  #locationbtn:hover {
    content: initial; 
    width: 20vw;
    height: 6vw;
    margin-left: -15.3vw;
  }
  #locationbtn.ios{
    width: 30vw;
    margin-left: -20.5vw;

  }
  #arbtn {
    width: 20vw;
    height: 6vw;
    margin-left: -15.3vw;

  }
  #arbtn:hover{
    content: initial;
    width: 20vw;
    height: 6vw;
    margin-left: -15.3vw;
  }
  #arbtn.ios {
    width: 30vw;
    margin-left: -20.5vw;


  }

  .slider:before {
    height: 3vw;
    width: 10vw;
    left: -2.95vw;
    bottom: 0.6vh;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(-2.9vw);
    -ms-transform: translateX(-2.9vw);
    transform: translateY(-2.9vw);
    background-image: url(../../images/AMENITY_BUTT.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }


  .slider {
    width: 4vw;
    margin-left: 2.5vw;
    height: 16vh;
    top: -6vh;
  }

  .slider.ios {
    height: 11vh;
  }

  #amenitymode {
    visibility: hidden;
  }

  #defaultmode {
    visibility: hidden;
  }

  #helpBtn {
    width: 4vw;
    left: 91vw;
  }

  .prebtn {
    top: 67vh;
    left: 0vw;
  }

  .nextbtn {
    top: 67vh;
  }


  .titleContent {
    position: relative;
    top: 36vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.titleContent.ios {
 
  top: 27vh;
  
}

.titles {
  display: flex;
  flex-direction: row;
  /* margin-top: 3vh; */
  /* height: 34vh; */
  position: relative;
  top: -13vh;
}
#bnmtitle {
  font-size: 21px;
  margin-top: 7vh;
  line-height: 16px;
  font-family: cairo-Bold;
}

#bnmdetials {
  font-size: 15px;
  line-height: 13px;
  margin-top: 20vh;
  margin-left: -15vw;
  font-family: cairo-Bold;
  width: 40vw;
}

  #bnmdetials.ios {
    margin-left: -15.5vw;

  }

  #bname {
    font-size: 13px;
    margin-bottom: 7vh;
    line-height: 14px;
    letter-spacing: 0;
    width: 42vw;
    
}

}

/* Tablet Potrait */
@media only screen and (min-width: 768px) and (orientation:portrait) {


  #phonelndscap {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    content: url('../../images/Tablet-Portrait.png');

  }
}

@media only screen and (min-width: 900px) and (max-width: 1440px) and (orientation:landscape) {

  /* #container{
    height: 95%;
    width: 80%;
  } */
  /* .slider {
    width: 2.4vw;
  }
  .slider:before {
    left: 0.3vw;
  } */
  
  #scrolltocon {
    bottom: 1vh;
  }

  .loader {
    bottom: 3vh;
  }
#buildpre{
  gap: 3vw;
}
.sPre{
  width: 26vw;
}
.text{
  width: 25vw;
}
  #bname {
    margin-bottom: 6vh;
  }

  .titles {
    margin-top: -0.5vh;
  }
  #bnmtitle{
    /* font-size: 30px; */
    margin-top: 4vh;
  }
  #bnmdetials {
    bottom: 3vh;

    /* font-size: 15px; */
  }
  .previewL{
    margin-left: 25vw;
    letter-spacing: 0.6px;

    /* margin-top: 2vh; */
  }
  .vl2{
    margin-top: 6vh;
    margin-left: -2.5vw;
    height: 7vh;
    /* width: 29vw; */
  }
 
  #Bname{
    /* font-size: 30px; */
        margin-top: -3vh;

  }
 
  .tablinks {
    margin-top: 0vh;
  }
  .viewin3dBtn {
    left: 14vw;
  }

  .viewin3dBtn:hover {
    left: 13.5vw;
  }
  #loaderBottomBar {
    top: 80vh;
  }

 

}
