@font-face {
  font-family: cairo-Bold;
  src: url('/cairo-2-cufonfonts/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: cairo-Regular;
  src: url('/cairo-2-cufonfonts/Cairo-Regular.ttf')
}

::-webkit-scrollbar {
  display: none;
}

/* Section Overlay */
html,
body,
section {
  block-size: 100%;
}

main,
html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start end;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

#Logo {
  z-index: 100;
  position: fixed;
  top: 5vh;
  left: 3.4vw;
  cursor: pointer;
  width: 2vw;
  height: 2vh;
}

#helpBtn {
  z-index: 99;
  position: relative;
  width: 2.5vw;
  left: 95vw;
  top: 5vh;
  cursor: pointer;
}

#bottombar {
  display: none;
  justify-content: space-between;
  position: absolute;
  background: none;
  width: 100vw;
  bottom: 0%;
}

.bottombtn {
  user-select: none;
}

#locationbtn {
  left: 3.4vw;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  /* position: relative; */
  cursor: pointer;


}

.switch {
  margin-top: 2%;
  position: relative;
  display: inline-block;
  width: 5.2vw;
  height: 5vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(83, 81, 81, 0.574);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4vh;
  width: 4vh;
  left: 0.25vw;
  bottom: 0.25vh;
  /* background-color: white; */
  background-image: url(../../images/DEFAULT_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: linear-gradient(98.38deg, #004C9C 0%, #00867D 48%, #00953F 100%);

}

input:checked+.slider:before {
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
  background-image: url(../../images/AMENITY_BUTT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* locationbtn:hover{
  border-color: white;
} */

#instructionOverlay {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#instructionOverlay img{
  width: 50%;
}

#scenebtn {
  /* position: fixed; */
  left: 45%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#vehiclesbtn {
  /* position: fixed; */
  left: 50%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;
}

#arbtn {
  /* position: fixed; */
  right: 2%;
  width: 2.5vw;
  height: 2.5vw;
  padding: 2%;
  cursor: pointer;

}

/* #arbtn:hover {
  
  box-shadow: 0 0 0 2px white;
} */

#popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#popup iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  position: absolute;
}

#popupdarkbg {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

#cbtn {

  display: none;
  right: 5%;
  width: 3%;
  position: absolute;
  top: 5%;
  border-radius: 50%;
}

/* The Close Button */
.close {
  position: fixed;
  z-index: 12;
  right: 5vw;
  top: 5%;
  /* margin-right: 10px; */
}

.prebtn {
  position: fixed;
  z-index: 12;
  right: 97vw;
  top: 45%;
  cursor: pointer;
  /* margin-right: 10px; */
}

.nextbtn {
  position: fixed;
  z-index: 12;
  right: 1vw;
  top: 45%;
  cursor: pointer;
  /* margin-right: 10px; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#sidebar {
  width: 100%;
  /* padding: 16px; */
  /* font-size: 16px; */
  object-fit: contain;
  border: none;
  cursor: pointer;
  /* top: 6px; */
  /* opacity: 75%; */
  /* left: 8px; */
}

/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
}

#streetview {
  display: none;
  margin-top: -2%;
  object-fit: cover;
  width: 100%;
  opacity: 0.5;
}

#dropdown {
  position: fixed;
  display: inline-block;
  width: 13vw;
  left: 3vw;
  top: 10vh;
  z-index: 12;
  object-fit: contain;
}

.dropdown-content {
  display: none;
  margin-top: -3%;
  /* position: absolute; */
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  padding: 10.5%;
  left: 1.69vh;
  top: 17.5vh;
  /* min-width: 160px; */
  z-index: 1;
  color: white;
  /* width: 11.9vw; */
  /* opacity: 55%; */
}

.dropdown-content div h4 {
  font-size: 11px;
  text-align: center;
  font-family: cairo-Bold;
  letter-spacing: 2%;
  margin-bottom: 3px;
  margin-top: 20px;
}

.dropdown-content div p {
  font-size: 12px;
  text-align: center;
  font-family: cairo-Regular;
  margin: 2px;
}

#LoaderMain {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  /* background-image: url(./images/LoaderBg.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#LoaderGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  background: linear-gradient(0deg, #000000cf 20%, #ffffff17 80%);
}

#loadingTxt1 {
  position: absolute;
  top: 8vh;
  left: 3.4vw;
  font-size: 156%;
  width: 59vw;
  height: 2vh;
  font-family: cairo-Regular;
  color: white;
  line-height: 136%;
}

#LoaderMainHeader {
  position: absolute;
  top: 10.5vh;
  left: 3.4vw;
  font-size: 412%;
  width: 59vw;
  letter-spacing: 2%;
  font-family: cairo-Regular;
  color: white;
  line-height: 112%;
  font-weight: bolder;
  height: 2vh;
}

#loaderBottomBar {
  position: absolute;
  height: 9vw;
  width: 92vw;
  top: 80vh;
  left: 3vw;
  background-color: #000000a1;
  backdrop-filter: blur(2px);
}

#loaderChakanLogo {
  object-fit: contain;
  width: 13vw;
  height: 9vw;
}

#loaderBottomBar p {
  font-size: 20px;
  left: 17vw;
  width: 55vw;
  position: absolute;
  top: 0;
  color: white;
  font-family: cairo-Regular;
}

.loader {
  width: 70vw;
  height: 1.7vh;
  display: inline-block;
  position: relative;
  background: rgba(95, 95, 95, 0.26);
  overflow: hidden;
  left: 4vw;
  /* bottom: 5.5vh; */
  bottom: 3vh;
}

#loader {
  width: 0;
  height: 15vh;
  left: 0;
  background: linear-gradient(90deg, #004C9C 0%, #00867D 31%, #00867D 62%, #00953F 100%);

}

/* .loader::after {
  content: '';
  box-sizing: border-box;
  width: 0;
  height: 16px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  animation: animFw 10s linear infinite;
} */

@keyframes opacityAnim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes RevOpacityAnim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#instructionMain {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  margin-top: 0;
  left: 0%;
  align-items: center;
  justify-content: center;
}

#instructionImg {
  width: 42vw;
}

#instructionChakanLogo {
  position: absolute;
  width: 17vw;
  object-fit: contain;
  top: 12vh;
  left: 5vw;
}

#fixedChakanLogo {
  display: block;
  z-index: 100;
  position: fixed;
  width: 13vw;
  height: 8vw;
  left: 3vw;
  top: 10vh;
  opacity: 0;
}

#blankPG {
  display: block;
  z-index: 99;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 100vh;
  left: 0%;
  background: none;
}

#phonelndscap {
  display: none;
}

#swipetocon {

  display: none;
  object-fit: contain;

}

#scrolltocon {
  position: absolute;
  display: none;
  /* top: 4.8vw; */
  left: 13.5vw;
  width: 59vw;
  height: 2.95vw;
  bottom: 1.5vh;
  object-fit: contain;
}

#instructionMobileImg {
  display: none;
}

.scroll-control {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

@media all and (max-width: 1023px) {
  .scroll-control {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 640px) and (orientation:portrait) {
  #phonelndscap {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width:1023px) and (orientation:landscape) {

  #phonelndscap {
    display: none;
  }

  #Logo {
    top: 5vh;
    left: 2vw;
    position: absolute;
  }

  #logobtn {
    width: 15vw;
  }
  #LoaderMain {
    height: 100vh;
  }
  #LoaderGradient {
    height: 100vh;
  }
  #loadingTxt1 {
    width: 170vh;
    left: 2vw;
    top: 7vh;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
  }

  #LoaderMainHeader {
    top: 12vh;
    width: 364px;
    height: 86px;
    line-height: 38px;
    font-size: 34px;
    left: 2vw;
    position: absolute;
  }

  #loaderBottomBar {
    top: 65vh;
    left: 2vw;
}

  #loaderBottomBar p {
    font-size: 13px;
    left: 20.5vw;
    margin-top: 1%;
  }

  #scrolltocon {
    content: url('../../images/swipeToContinue.png');
    left: 20.5vw;
    bottom: 2.5vh;
    width: 58vw;
  }

  #scrolltocon.ios {
    content: url('../../images/Click_To_Continue.png');
    left: 20.5vw;
    bottom: 2.5vh;
    width: 58vw;
  }
  /* #swipetocon{
 display: block;
} */


  .loader {
    height: 4vh;
    left: 2vw;
    bottom: 4vh;
    width: 65vw;
  }

  #fixedChakanLogo {
    width: 18vw;
    left: 2vw;
    height: 11vw;
    top: 12vh;
    
  }
  #loaderChakanLogo {
    width: 18vw;
    left: 2vw;
   }
   #dropdown {
    width: 18vw;
    left: 2vw;
    top: 12vh;
  }

  #bottombar{
    /* height: 20%; */
    height: 0.5vh;
    /* bottom: 0.1vh; */
    
      /* top: 60vh; */
      
  
  }

  

  #instructionOverlay img{
    content: url('../../images/tutorialOverlayMobile.png');
    width: 40%;
  }

 

  
  /* .dropdown-content{
  display: flex;
} */
  .dropdown-content div h4 {
    font-size: 7px;
    /* line-height: 93%; */
    margin-top: -2.5%;
    /* line-height: 134%; */
  }

  #cbtn {
    width: 5vw;
  }

  .dropdown-content div p {
    font-size: 8px;
    margin-top: -6%;
    line-height: 16px;
  }

  #locationbtn {
    width: 10vw;
    height: 4vw;
    margin-left: -3%;
  }

  #arbtn {
    width: 10vw;
    height: 4vw;
  }

  /* .switch{
  width: 10vw;
  height: 4vw;
} */
  .slider:before {
    height: 4.1vw;
    width: 10vw;
    left: -2.3vw;
    top: 0.7vh;
  }

  .slider {
    width: 7.5vw;
    height: 4.5vw;
  }

  #helpBtn {
    width: 4vw;
    left: 91vw;
  }

  .prebtn {
    left: 0vw;
    top: 67vh;
  }

  .nextbtn {
    top: 67vh;
  }
}

/* Tablet Potrait */
@media only screen and (min-width: 768px) and (orientation:portrait) {
  #LoaderMainHeader {
    font-size: 313%;

  }

  #loadingTxt1 {
    top: 6vh;
  }

  #loaderBottomBar {
    top: 89vh;
  }

  #loaderBottomBar p {
    top: -1vh;
    left: 21vw;
    font-size: 17px;
  }
  #LoaderMain {
    height: 100vh;
  }
  #LoaderGradient {
    height: 100vh;
  }

  #scrolltocon {
    bottom: 0.5vh;
    left: 17vw;
  }

  .slider:before {
    width: 4vw;
    top: 1%;
    left: 0.8vw;
  }

  .slider {
    width: 10vw;
    height: 5vw;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(4vw);
    -ms-transform: translateX(4vw);
    transform: translateX(4vw);
  }

  #locationbtn {
    width: 5vw;
    height: 5vw;
  }

  #arbtn {
    width: 5vw;
    height: 5vw;
  }

  .loader {
    bottom: 3.5vh;
    left: 21vw;
  }

  #loaderChakanLogo {
    width: 25vw;
  }

  #fixedChakanLogo {
    width: 25vw;
    height: 15vw;
    top: 9vh;
  }

  #dropdown {
    width: 25vw;
    top: 9vh;
  }

  #helpBtn {
    width: 4vw;
    top: 5vh;
    left: 94vw;
  }

  #cbtn {
    width: 5vw;
  }

}

/* tablet landscape mode */
/* @media only screen and (max-width: 800px) and (orientation: landscape) {

  #loaderChakanLogo {
    width: 18vw;
  }

  #loaderBottomBar p {
    top: -1.8vh;
  }

  #fixedChakanLogo {
    width: 18vw;
  }

  #dropdown {
    width: 18vw;

  }

  .loader {
    bottom: 2.5vh;
    left: 0vw;
  }

  #bottombar {
    top: 89vh;
  }

  #locationbtn {
    width: 5vw;
    height: 5vw;
  }

  #arbtn {
    width: 5vw;
    height: 5vw;
  }

  .slider {
    width: 8.5vw;
    height: 5.5vw;
  }

  .slider:before {
    width: 5vw;
    top: 1.3vh;
  }

  #scrolltocon {
    bottom: 1vh;
  }

  #helpBtn {
    width: 4vw;
  }

  #loaderBottomBar {
    top: 82vh;
  }


  #logobtn {
    width: 22vh
  }

  #dropdown {
    left: 0vh;
    top: 6vh;
  }

  #locationbtn {
    width: 8vh;
    height: 8vh;
    left: 0vh;

  }

  #scenebtn {
    width: 8vh;
    height: 8vh;
    left: 56vh;

  }

  #vehiclesbtn {
    width: 8vh;
    height: 8vh;
  }

  #arbtn {
    width: 8vh;
    height: 8vh;
  }
} */